<a href="https://colab.research.google.com/github/gunsookim/std_py/blob/main/20230516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
b = [1,2,3,4,5]
print(b[0])
print(b[0]+b[2])
print(b[-1])

1
4
5

In [ ]:
new_a = [1,2,3,4,5,['a','b','c','d'], 7,8,9]
print(new_a)
print(new_a [0])
print(new_a[-1])
print(new_a[5])

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd'], 7, 8, 9]
1
9
['a', 'b', 'c', 'd']

In [ ]:
print(new_a[5][2])

c

In [ ]:
b= [1,2,3,4,5]
print(b[:3])
c='12345'
print(c[:4])
print(b[3:])

[1, 2, 3]
1234
[4, 5]

In [ ]:
print(new_a[:5])
print(new_a[0:5:2])
print(new_a[0:5:3])
print(new_a[0:5:4])

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]
[1, 5]

In [ ]:
print(new_a[5][:2])

['a', 'b']

In [ ]:
a=[1,2,3,4]
b=[6,7,8,9,]
print(a+b)
print(a*2)
print(len(a))
k=[12345678]
print(len(k))

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 1, 2, 3, 4]
4
1

In [ ]:
m='12345678'
print(len(m))
c='good'
#print(b+c)
#print(b+[c])
new_c=['good']
print(b+new_c)

8
[6, 7, 8, 9, 'good']

In [ ]:
a=[1,2,3,4,['a','b','c']]
print(a)
b = [6,7,8,9]
print(len(a))
#print(sum(a))
print(sum(b))
print(max(b))
print(min(b))
del b[0]
print(b)
print(b.pop(0))
b=[6,7,8,9]
print(str(b[0]))
b[0]=str(b[0])
print(b)

[1, 2, 3, 4, ['a', 'b', 'c']]
5
30
9
6
[7, 8, 9]
7
6
['6', 7, 8, 9]

In [ ]:
del(a[0])

In [ ]:
print(a)

[2, 3, 4, ['a', 'b', 'c']]

In [ ]:
b=['6','7','8','9']
b+['10']
print(b)
b.append('10')
print(b)
print(b+['11','12'])
b.append(['11','12'])
print(b)
b.extend(['11','12'])
print(b)
c=['6','9','8','7']
c.sort()
print(c)
d=['x','z','y']
d.sort()
print(d)

['6', '7', '8', '9']
['6', '7', '8', '9', '10']
['6', '7', '8', '9', '10', '11', '12']
['6', '7', '8', '9', '10', ['11', '12']]
['6', '7', '8', '9', '10', ['11', '12'], '11', '12']
['6', '7', '8', '9']
['x', 'y', 'z']

In [ ]:
c.sort(reverse=True)
print(c)

['9', '8', '7', '6']

In [ ]:
c.insert(4, '10')
print(c)
c.insert(0,'5')
print(c)

['9', '8', '7', '6', '10', '10']
['5', '9', '8', '7', '6', '10', '10']

In [ ]:
e=['3','4','3','4','5']
e.remove('4')
print(e)
e.remove('4')
print(e)
e.pop()
print(e)
c=[6,6,6,6,6,7,8,9]
print(c.count(6))

['3', '3', '4', '5']
['3', '3', '5']
['3', '3']
5

In [ ]:
a=['We', 'are','the','world']
b=' '.join(a)
a=[8,8,8]
print(a+[1,5])
a.extend('cola')
print(a)
a.extend(['cola'])
print(a)
m_r=['알라딘', '토이스토리', '기생충']
print(m_r)
m_r.append('롱 리브 더 킹')
print(m_r)
m_r.insert(m_r.index('기생충'), '슈퍼맨 리턴즈')
print(m_r)
m_r.remove('기생충')
print(m_r)
A=['BTS', '엑소', '뉴이스트']
B=['Black Pink', '아이즈원', '트와이스']
AB = A+B
print(AB)

[8, 8, 8, 1, 5]
[8, 8, 8, 'c', 'o', 'l', 'a']
[8, 8, 8, 'c', 'o', 'l', 'a', 'cola']
['알라딘', '토이스토리', '기생충']
['알라딘', '토이스토리', '기생충', '롱 리브 더 킹']
['알라딘', '토이스토리', '슈퍼맨 리턴즈', '기생충', '롱 리브 더 킹']
['알라딘', '토이스토리', '슈퍼맨 리턴즈', '롱 리브 더 킹']
['BTS', '엑소', '뉴이스트', 'Black Pink', '아이즈원', '트와이스']

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
print(max(num))
print(min(num))
print(sum(num))
cook=['피자','김밥','만두','양념치킨','족발']
print(len(cook))
print(sum(num)/len(num))
price=['20190625',1000,3000,4000,5000,7000]
print(price[1:])
num=[1,2,3,4,5,6,7,8,9,10]
print(num[1::2])
print(num[0::2])
print(num[::-1])
string='구글/아마존/페이스북'
print(string)
wish=string.split('/')
print(wish)

10
1
55
5
5.5
[1000, 3000, 4000, 5000, 7000]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
구글/아마존/페이스북
['구글', '아마존', '페이스북']

In [ ]:
a=()
print(a, type(a))
b=(1)
print(b,type(b))
b=(1,)
print(b,type(b))
b=tuple([1])
print(b, type(b))
c=(1,2,3)
print(c, type(c))

() <class 'tuple'>
1 <class 'int'>
(1,) <class 'tuple'>
(1,) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [ ]:
e=(1,2,('ab','cd'),3,4)
print(e[0])
del e[0]
print(e)
e.remove(1)
print(e)
e.pop(0)
print(e)

1

TypeError: ignored

In [ ]:
c=(1,2,3)
e=(1,2,('ab','cd'),3,4)
print(e[:])
print(c+e)
print(c*2)
print(len(c))

(1, 2, ('ab', 'cd'), 3, 4)
(1, 2, 3, 1, 2, ('ab', 'cd'), 3, 4)
(1, 2, 3, 1, 2, 3)
3

In [ ]:
x,y,z=(1,2,3)
print(x,y,z)
print(x)
print(y)
print(z)

1 2 3
1
2
3

In [ ]:
DS=()
print(DS)
a=(1,)
print(a,type(a))
t=1,2,3,4
print(t, type(t))
x=('a','b','c')
print(x)
x=('A','b','c')
print(x)
wish=('구글','아마존','페이스북')    # tuple -> list
print(wish, type(wish))
wish=list(wish)
print(wish, type(wish))
wish=['구글','아마존','페이스북']    # list -> tuple
print(wish, type(wish))
wish=tuple(wish)
print(wish, type(wish))
my_data=(1,2,3)
a,b,c=my_data
print(a+b+c)
print((4,2,1,8)+(9,))

()
(1,) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
('a', 'b', 'c')
('A', 'b', 'c')
('구글', '아마존', '페이스북') <class 'tuple'>
['구글', '아마존', '페이스북'] <class 'list'>
['구글', '아마존', '페이스북'] <class 'list'>
('구글', '아마존', '페이스북') <class 'tuple'>
6
(4, 2, 1, 8, 9)

In [ ]:
x = ('a','b','c')
print(x, type(x))
x=list(x)
print(x, type(x))
x[0]='A'
print(x)
tuple(x)
print(x,type(x))

('a', 'b', 'c') <class 'tuple'>
['a', 'b', 'c'] <class 'list'>
['A', 'b', 'c']
['A', 'b', 'c'] <class 'list'>

In [ ]:
mina={'성별':'여성','나이':30,'이름':'mina'}
print(mina)
type(mina)

{'성별': '여성', '나이': 30, '이름': 'mina'}

dict

In [ ]:
print(mina['성별'], mina['나이'], mina['이름'])

여성 30 mina

In [ ]:
mina={'성별':'여성','나이':30,'이름':'mina', '나이':50}
print(mina)

{'성별': '여성', '나이': 50, '이름': 'mina'}

In [ ]:
{1:'good'}

{1: 'good'}

In [ ]:
{'a':[1,3,5]}

{'a': [1, 3, 5]}

In [ ]:
{'a':(1,3,5)}

{'a': (1, 3, 5)}

In [ ]:
{[1,3,5]:'a'}

TypeError: ignored

In [ ]:
{(1,3,5):'a'}

{(1, 3, 5): 'a'}

In [ ]:
my_info={}
print(my_info)
my_info['key1']='value1'
print(my_info)
my_info['key2']='value2'
print(my_info)
my_info['key1']='value2'
print(my_info)

{}
{'key1': 'value1'}
{'key1': 'value1', 'key2': 'value2'}
{'key1': 'value2', 'key2': 'value2'}

In [ ]:
my_info={}
print(my_info)
my_info['name']='HGD'
print(my_info)
my_info['number']=1
print(my_info)

{}
{'name': 'HGD'}
{'name': 'HGD', 'number': 1}

In [ ]:
del my_info['number']
print(my_info)

{'name': 'HGD'}

In [ ]:
score={'A':99,'B':91,'C':83,'D':100 }
print(score['C'])

83

In [ ]:
name={}
print(name)
name['1번']='a'
name['2번']='b'
name['3번']='c'
print(name)

{}
{'1번': 'a', '2번': 'b', '3번': 'c'}

In [ ]:
{'name':['a','b','c']}

{'name': ['a', 'b', 'c']}

In [ ]:
a={'gender':'Female','age':30,'name':'Kristina'}
print(a.keys())
print(list(a.keys()))
print(a.values())
print(a.items())
a.clear()
print(a)

dict_keys(['gender', 'age', 'name'])
['gender', 'age', 'name']
dict_values(['Female', 30, 'Kristina'])
dict_items([('gender', 'Female'), ('age', 30), ('name', 'Kristina')])
{}

In [ ]:
print(a)
a={'gender':'Female','age':30,'name':'Kristina'}
print(a)
print(a.get('gender'))
print(a.get('height'))
print(a)
print(a.get('height', '?'))
a.get('height', '?')
print(a)
print('gender' in a)
print('height' in a)

{'gender': 'Female', 'age': 30, 'name': 'Kristina'}
{'gender': 'Female', 'age': 30, 'name': 'Kristina'}
Female
None
{'gender': 'Female', 'age': 30, 'name': 'Kristina'}
?
{'gender': 'Female', 'age': 30, 'name': 'Kristina'}
True
False

In [ ]:
a={1}
print(a)

{1}

In [ ]:
a={}
print(a, type(a))
a=set()
print(a, type(a))

{} <class 'dict'>
set() <class 'set'>

In [ ]:
sc=set('abcdef')
print(sc)

{'d', 'f', 'c', 'b', 'e', 'a'}

In [ ]:
#print(sc[0])

In [ ]:
x={1,2,3,4,5}
y={3,4,5,6,7}
print(x&y)
print(x|y)

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(x-y)

{1, 2}

In [ ]:
print(y-x)

{6, 7}

In [ ]:
print(x^y)

{1, 2, 6, 7}

In [ ]:
print(x.symmetric_difference(y))

{1, 2, 6, 7}

In [ ]:
print(x)

{1, 2, 3, 4, 5}

In [ ]:
print(x)
x.add(10)
print(x)
x.update([11,12,13])
print(x)
x.remove(13)
print(x)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 10, 11, 12}

In [ ]:
DS={}
icecream={'메로나':1000, '폴라포':1200, '빵빠레':1800}
icecream['죠스바']=1200
icecream['월드콘']=1500
print(icecream['메로나'])
icecream['메로나']=1200
print(icecream)
del icecream['메로나']
print(icecream)
inventory={'메로나':[300,20], '비비빅':[400,3], '죠스바':[250,100]}
print(inventory['메로나'][0])
print(inventory['메로나'][1])

1000
{'메로나': 1200, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
300
20

# 새 섹션

# 새 섹션

In [ ]:
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
icecream_1={'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(icecream_1)
icecream_1['죠스바']=1200
icecream_1['월드콘']=1500
print(icecream_1)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
icecream_2={'이름':['메로나', '폴라포', '빵빠레'],'가격':[1000,1200,800]}
print(icecream_2)
icecream_2['이름'] += ['죠스바','월드콘']
icecream_2['가격'] += [1200,1500]
print(icecream_2)

{'이름': ['메로나', '폴라포', '빵빠레'], '가격': [1000, 1200, 800]}
{'이름': ['메로나', '폴라포', '빵빠레', '죠스바', '월드콘'], '가격': [1000, 1200, 800, 1200, 1500]}

In [ ]:
#-----