<a href="https://colab.research.google.com/github/gunsookim/std_py/blob/main/20230517.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input()
name=input('이름을 입력하세요.')

1
이름을 입력하세요.1

In [ ]:
print(name)

1

In [ ]:
a = input()
b = input()
print(a, b)

a
b
a b

In [ ]:
name=input('이름을 입력하세요:')
print(f'{name}님 반갑습니다.')

이름을 입력하세요:홍길동
홍길동님 반갑습니다.

In [ ]:
inch=float(input("인치를 입력하세요: "))
cm=inch*83.31/32.8
print(cm)
print('센티미터: %.2f cm' %(inch*2.5))

인치를 입력하세요: 5
12.69969512195122
센티미터: 12.50 cm

In [ ]:
w=float(input('삼각형의 밑변 길이: '))
h=float(input('삼각형의 높이: '))
s=(h*w)/2
print(f'삼각형의 면적: %.1f' %s)

삼각형의 밑변 길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

In [ ]:
price=int(input('물건가격: '))
buy=int(input('구매개수: '))
pay=int(input('지불금액: '))
mon=pay - price*buy
print(f'거스름돈: %.1f' %mon)

물건가격: 300
구매개수: 3
지불금액: 5000
거스름돈: 4100.0

In [ ]:
name=input('이름: ')
age=int(input('나이: '))
height=float(input('키: '))
print(f'성: %s' %name[0])
print(f'이름: %s' %name[1:])
print(f'%s의 나이: %d세, 키: %.2fcm' %(name, age, height))

이름: 홍길동
나이: 30
키: 171.5
성: 홍
이름: 길동
홍길동의 나이: 30세, 키: 171.50cm

In [ ]:
a=[
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0},
    {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0},
    {'num':'3','name':'홍길동','kor':90,'eng':80,'math':80,'total':0,'avg':0.0,'order':0}
]
print(a[0])
a[0]['total']=(a[0]['kor'] + a[0]['eng']+ a[0]['math'])

{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 0, 'avg': 0.0, 'order': 0}

In [ ]:
print(a[0]['total'])

255

In [ ]:
a[0]['total']=1
print(a[0]['total'])

1

In [ ]:
a[0]['total']=(a[0]['kor'] + a[0]['eng']+ a[0]['math'])
a[1]['total']=(a[1]['kor'] + a[1]['eng']+ a[1]['math'])
a[2]['total']=(a[2]['kor'] + a[2]['eng']+ a[2]['math'])
print(a[0]['total'])
print(a[1]['total'])
print(a[2]['total'])
a[0]['avg']=(a[0]['total']/3)
a[1]['avg']=(a[1]['total']/3)
a[2]['avg']=(a[2]['total']/3)
print(a[0]['avg'])
print(a[1]['avg'])
print(a[2]['avg'])

255
265
250
85.0
88.33333333333333
83.33333333333333

In [ ]:
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}, {'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}, {'num': '3', 'name': '홍길동', 'kor': 90, 'eng': 80, 'math': 80, 'total': 250, 'avg': 83.33333333333333, 'order': 0}]

In [ ]:
tot_avg=(a[0]['total']+a[1]['total']+a[2]['total'])/3
print(f'학급 총점의 평균: %.2f' %tot_avg)
kor_avg=(a[0]['kor']+a[1]['kor']+a[2]['kor'])/3
print(f'국어 평균: %.2f' %kor_avg)
eng_avg=(a[0]['eng']+a[1]['eng']+a[2]['eng'])/3
print(f'영어 평균: %.2f' %eng_avg)
math_avg=(a[0]['math']+a[1]['math']+a[2]['math'])/3
print(f'수학 평균: %.2f' %math_avg)

학급 총점의 평균: 256.67
국어 평균: 90.00
영어 평균: 81.67
수학 평균: 85.00

In [ ]:
n=float(input('숫자를 입력하세요: '))
if n>0:
  print('양수!')
else:
  print('0 또는 음수!')

숫자를 입력하세요: 23
양수!

In [ ]:
money=int(input())
if money>=5000:
  print('택시를 탄다.')
else:
  print('버스를 탄다.')

300
버스를 탄다.

In [ ]:
grade=float(input())
if grade>=4.3:
  print('\"장학금 수여 대상\"' )
  print('축하메세지')

3

In [ ]:
num=int(input())
if num%2==0:
  print('짝수')
else:
  print('홀수')

3
홀수

In [ ]:
su = float(input())
if su%2==0:
  print(f'%d는 짝수이다.\n짝짝짝짝' %su)
else:
  print(f'%d는 홀수이다.\n홀홀홀홀' %su)
print('if문 끝')

5
5는 홀수이다.
홀홀홀홀
if문 끝

In [ ]:
age=float(input())
height=float(input())
if age>=40:
  if height>=170:
    print('큰키')
  else:
    print('보통키')
else:
  if height>=175:
    print('큰키')
  else:
    print('보통키')

30
180
큰키

In [ ]:
s = float(input())
if s>=90:
  print(f'A')
elif s>=80:
  print('B')
elif s>=70:
  print('C')
elif s>=60:
  print('D')
else:
  print(f'F')

80
B

In [ ]:
score1=int(input('필기성적을 입력하세요: '))
score2=int(input('실기성적을 입력하세요: '))
if score1>=80 and score2>=80:
  print('합격!') 
else:
  print('불합격!')

필기성적을 입력하세요: 90
실기성적을 입력하세요: 85
합격!

In [ ]:
id=input('아이디를 입력하세요: ')
lv=int(input('회원 레벨을 입력하세요: '))
if id=='admin' or lv==1:
  print('관리자이다.')
else:
  print('관리자가 아니다.')

아이디를 입력하세요: admin
회원 레벨을 입력하세요: 1
관리자이다.

In [ ]:
name=input('이름을 입력하세요: ')
if not name:
  print('이름이 입력되지 않았다.')
else:
  print(f'이름: %s' %name)

이름을 입력하세요:
이름이 입력되지 않았다.

In [ ]:
age=int(input('나이를 입력하세요: '))
pay='3000원'
if age>=65 or age<7:
  pay='무료'
print('%s' %pay)

나이를 입력하세요: 25
3000원

In [ ]:
pw='12345'
in_pw=input('비밀번호를 입력하세요: ')
if in_pw=='12345':
  print('비밀번호 OK!')
else:
  print('비밀번호 Not OK!')

비밀번호를 입력하세요: 12345
비밀번호 OK!

In [ ]:
mon=int(input('월을 입력하세요: '))
if 3<=mon<=5:
  m='봄'
elif 6<=mon<=8:
  m='여름'
elif 9<=mon<=11:
  m='가을'
print(f'%d월은 %s입니다.' %(mon,m))

월을 입력하세요: 4
4월은 봄입니다.

In [ ]:
mon=int(input('월을 입력하세요: '))
if mon in [3,4,5]:
  m='봄'
elif mon in [6,7,8]:
  m='여름'
elif mon in [9,10,11]:
  m='가을'
print(f'%d월은 %s입니다.' %(mon,m))

월을 입력하세요: 7
7월은 여름입니다.

In [ ]:
sit=int(input('좌석 종류를 입력해 주세요(1: 일반실, 2: 특실): '))
if sit==1:
  print('일반실 입니다.')
elif sit==2:
  print('특실입니다.')

좌석 종류를 입력해 주세요(1: 일반실, 2: 특실): 1
일반실 입니다.

In [ ]:
sit=int(input('좌석 종류를 입력해 주세요(1: 일반실, 2: 특실): '))
seat1='일반실'
seat2='특실'
if sit==1:
  print(f'{seat1}입니다.')
elif sit==2:
  print(f'{seat2}입니다.')
else:
  print('잘못된 입력입니다.')

좌석 종류를 입력해 주세요(1: 일반실, 2: 특실): 1
일반실입니다.

In [ ]:
a=input('영어 알파벳을 입력하세요.: ')
if a in ['a','e','i','o','u']:
  print(f'{a}은(는) 모음입니다.')
else:
  print(f'{a}은(는) 자음입니다.')

영어 알파벳을 입력하세요.: w
w은(는) 자음입니다.

In [ ]:
char=input('알파벳 입력: ')
char_1=char.upper()

if char_1 in ['A','E','I','O','U']:
  print(f'{char_1}은(는) 모음입니다.')
else:
  print(f'{char_1}은(는) 자음입니다.')

알파벳 입력: w
W은(는) 자음입니다.

In [ ]:
n1=int(input('첫번째 정수를 입력하세요: '))
n2=int(input('두번째 정수를 입력하세요: '))
n3=int(input('세번째 정수를 입력하세요: '))
if n1>=n2 and n1>=n2:
  tmp = n1
elif n2>=n3 and n2>=n3:
  tmp = n2
else:
  tmp=n3
print(f'입력된 세 수 {n1},{n2},{n3} 중에서 가장 큰 수는 {tmp}입니다.')

첫번째 정수를 입력하세요: 5
두번째 정수를 입력하세요: 5
세번째 정수를 입력하세요: 5
입력된 세 수 5,5,5 중에서 가장 큰 수는 5입니다.

In [ ]:
print("""서비스 만족도:
1: 매우만족
2: 만족
3:불만족 서비스""")

chk=int(input('만족도 입력(1 또는 2 또는 3): '))
price=int(input('음식값 입력(예: 8000): '))
if chk==1:
  tmp='매우 만족'
  tip=price*0.2
elif chk==2:
  tmp='만족'
  tip=price*0.1
elif chk==3:
  tmp='불만족 서비스'
  tip=price*0.05
print(f'서비스 만족도: {tmp}, 팁: %d원' %tip)

서비스 만족도:
1: 매우만족
2: 만족
3:불만족 서비스
만족도 입력(1 또는 2 또는 3): 1
음식값 입력(예: 8000): 9000
서비스 만족도: 매우 만족, 팁: 1800원

In [ ]:
n1=int(input('현재년을 입력해 주세요 :'))
n2=int(input('현재월을 입력해 주세요 :'))
n3=int(input('현재일을 입력해 주세요 :'))
n4=int(input('출생년을 입력해 주세요 :'))
n5=int(input('출생월을 입력해 주세요 :'))
n6=int(input('출생일을 입력해 주세요 :'))
print('-'*30)
print(f'오늘 날짜: {n1}년 {n2}월 {n3}일')
print(f'생년 월일: {n4}년 {n5}월 {n6}일')
print('-'*30)

age=n1-n4
if n5>n2:
  age = age-1
elif n5==n2 and n4>=n1:
    age=age-1
#else:
#  age= n1-n4-1

print(f'만 나이: {age}세')  
print('-'*30)

현재년을 입력해 주세요 :2020
현재월을 입력해 주세요 :1
현재일을 입력해 주세요 :27
출생년을 입력해 주세요 :1997
출생월을 입력해 주세요 :5
출생일을 입력해 주세요 :7
------------------------------
오늘 날짜: 2020년 1월 27일
생년 월일: 1997년 5월 7일
------------------------------
만 나이: 22세
------------------------------